/*
  Gelo: #efefef;

  Cinza claro: #3e4651;
  Cinza: #1b1a1f;
  Cinza escuro: #121212;

  Verde claro: #b2f599;
  Verde: #78e45d;
  Verde escuro: #4a9f38;

  Roxo claro: #d966ff;
  Roxo: #7b0097;
  Roxo escuro: #4d0061;

*/
